@font-face {
    font-family: 'GE_SS_Two_Medium';
    src: url('../fonts/GE_SS_Two_Medium.otf.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GE_SS_Two_Medium';
  }
  
  body {
    direction: rtl;
    background-color: #f9f9f9;
    color: #222;
    direction: rtl;
  }
  
  /* شريط التنقل */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #004080;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .site-logo {
    width: 50px;
    height: 50px;
  }
  
  .site-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .nav-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffcc00;
  }
  
  .search-box {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
  }
  
  /* المحتوى */
  .content {
    padding: 130px 20px 40px;
  }
  
  .news-section {
    margin-bottom: 50px;
  }
  
  .news-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .news-item h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #004080;
  }